body {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

main {

    margin: 0 5%;

}

button {
    display: block;
}

header {
    color: #00843D;
}

a {
    text-decoration: none !important;
}

.link-button {
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    width: 100%;
    margin: 20px 0;
    background-color: #00843D;
}

.link-button:hover {
    background-color: white;
    color: #00843D;
    border: 2px solid #00843D;
}


@media only screen and (max-width: 600px) {
    main {
        margin: 0 3%;
    }
}