body {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -75%);
    width: 90%;

}

button {
    display: block;
}

header {
    color: #00843D;
}

a {
    text-decoration: none !important;
}

.link-button {
    color: white;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: bold;
    width: 100%;
    margin: 20px 0;
    background-color: #00843D;
}

.link-button:hover {
    background-color: white;
    color: #00843D;
    border: 2px solid #00843D;
}


@media only screen and (max-width: 600px) {
    main {
        width: 100%;
    }
}